{% include 'nav.html' %}
<main class="flex-grow max-w-7xl mx-auto w-full px-4 py-8">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
        </div>
        <div class="p-8">
            <a href="#"
               class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ meta.title }}</a>
            <p class="mt-2 text-gray-500">
                {{ content|safe }}
            </p>
            <div class="mt-4 text-sm text-gray-500">
                作者: {{ meta.user }} | 发布日期: {{ meta.created_at }}
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
